<div class="container">
    <div class="justify-content-center">
        {{userName}}

        <button class="btn btn-secondary mt-3" onclick="toggleForm('edits')">Edit Account</button>
        <div id="edits">
            <div>
                <h2>Account</h2>
            </div>
            <form action="/account/edit" method="post">
                <input type="hidden" name="_csrf" value={{csrfToken}}>
                <div class="mb-3">
                    <label for="InputUsername" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="InputUsername" name="username">
                </div>
                <div class="mb-3">
                    <label for="InputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="InputPassword" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

    </div>
    <div class="workout-title">Workouts</div>
    <div class="workouts">
        {{#if workouts}}
        {{workouts}}
        {{else}}
        <div>Oops you don't have any workouts.
            <a href="#">Click Here</a> to start your journey
        </div>
        {{/if}}
    </div>
    <div class="program-title">Programs</div>
    <div class="programs">
        {{#if programs}}
        {{programs}}
        {{else}}
        <div>Oops you don't have any programs.
            <a href="#">Click Here</a> if you want to either subscribe to a program or create your own
        </div>
        {{/if}}
    </div>
</div>